input {
    cursor: pointer;
    border: none;
    border-bottom: 2px solid rgba(255, 255, 255, 0.74);
    background: transparent;
    color: rgb(255, 255, 255);
    /* margin: 10px 0 20px 0; */
    font-size: 1.1rem;
    line-height: 2.5rem;
    text-decoration: none;
}
form{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.form-layout{
    /* margin: 2rem 0; */
    padding: 2rem;
    width: 300px;
    box-shadow: 2px 10px 10px   rgb(53, 19, 58);
    border-radius: 5px;
    background-color: rgba(51, 0, 48, 0.33);
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: white;
}
h1{
    text-align: center;
}

button{
    cursor: pointer;
    margin: 10px 10px;
}

.btn{
    display: flex;
    justify-content: center;
}
.err{
    color: rgb(170, 23, 23);
    font-size: medium;
}