body {
  margin: 0;
  padding: 0;
  background-image: linear-gradient(to bottom right, rgba(150, 236, 232, 0.685), rgba(255, 61, 177, 0.87), rgba(255, 56, 245, 0.69));
  font-size: 18px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: 'Public Sans', sans-serif;
  align-items: center;
  justify-content: center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}